.dashboard-title {
   margin-bottom: 10px;
}

.dashboard-section {
   background: inherit;
   padding: 0 10px 17px;
   margin-bottom: 20px;

   .list-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .list-item {
         flex-grow: 0;
         width: 120px;
         padding: 5px 5px;
         cursor: pointer;
         border-radius: 5px;
         color: #0d3349;
      }
   }
}

.list-item-content {
   min-height: 100px;
   margin-top: 10px;
   margin-right: 5px;
   background-color: silver;
   padding: 0;
   box-shadow: 2px 2px 3px gray;
   min-width: 100px;
   border-radius: 5px;
   overflow: hidden;
   text-align: center;
}

.list-item-title {
   overflow: hidden;
   height: 35px;
   background-color: transparent;
   vertical-align: middle;
}

.list-item-image {
   -webkit-transition: all .15s ease-in-out;
   transition: all .15s ease-in-out;
   transform: scale(.8);
   width: 100%;
   max-width: 110px;
   max-height: 55px;
   /* text-shadow: 1px 1px 1px @shadow; */
   font-size: 2.7em;
}

a.dashboard-link {
   font-size: 13px;
   display: block;
   margin: 10px 10px;
   text-align: center;
   width: 85px;
   color: #0d3349;
   font-weight: bold;
   /*text-shadow: 1px 1px 1px @shadow; */
}

.list-item-content:hover a.dashboard-link {
   color: blue;
   text-decoration: none;
}

.list-item-content:hover .list-item-image {
   transform: scale(.9);
}

.list-item-content:hover .list-item-image {
   color: black;
}

.list-item-content:hover .list-item-title {
   color: black;
}
