.darts-panel {
   margin-top: 50px;
}

.darts-panel .panel-body {
   background-image: url('/images/darts-bg.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% auto;
}

.btn-row {
   margin-bottom: 18px;
}